.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.logo{
  height: 3cm;
}
.App-header {
  background-color: #0e3c97;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.select select {
  margin-top: 1cm;
    border: none;
    padding: 10px;
    width: 50%;
    color: rgb(78, 77, 77);
    font-weight: 600;
    font-size: medium;
    border: 1px solid #333;
}

.row{
  display: flex;
  flex-wrap: wrap;
  grid-gap: 2cm;
}
.blue{
  background-color: #0e3c97;
  color: white;
  font-size: large;
  width: 350px;
  height: 150px;
  border: 1px solid #dad3d3;
  margin-left: 17%;
  align-content: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

.footer {
  background-color: rgb(198, 226, 243);
  margin-top: 10cm;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
